.nav-logo {
    width: 142px;
    height: 42px;
}

.hero-text .hero-close {
    font-size: 20px;
    color: #fff;
}

.hero-close strong {
    color: #fff;
}

.team-member {
    margin-bottom: 15px;
}

.btn.btn-primary, 
.btn.btn-default,
.hero-text .btn.btn-primary,
.hero-text .btn-primary:not(:disabled):not(.disabled):active,
.hero-text .btn.btn-default {
    text-transform: none;
}

.cta-reddit-btn {
    margin-top: 30px;
}