/* Local font registrations for Liberdus LP Staking */

/* Exo weights used on the public site */
@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/exo-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/exo-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/exo-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/exo-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/exo-latin.woff2') format('woff2');
}

/* Inter weights used on the admin interface */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/inter-latin.woff2') format('woff2');
}

/* Material Icons (filled) */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../assets/fonts/material-icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Material Icons (outlined) */
@font-face {
    font-family: 'Material Icons Outlined';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('../assets/fonts/material-icons-outlined.woff2') format('woff2');
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
