    /*
    Flaticon icon font: Flaticon
    Creation date: 25/08/2019 18:55
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-scalable:before { content: "\f100"; }
.flaticon-blockchain:before { content: "\f101"; }
.flaticon-business-and-finance:before { content: "\f102"; }
.flaticon-car:before { content: "\f103"; }
.flaticon-ecology:before { content: "\f104"; }
.flaticon-swap:before { content: "\f105"; }
.flaticon-vote:before { content: "\f106"; }
    
    $font-Flaticon-scalable: "\f100";
    $font-Flaticon-blockchain: "\f101";
    $font-Flaticon-business-and-finance: "\f102";
    $font-Flaticon-car: "\f103";
    $font-Flaticon-ecology: "\f104";
    $font-Flaticon-swap: "\f105";
    $font-Flaticon-vote: "\f106";